Django>=4.1,<4.2
wagtail>=4.1,<4.2
psycopg2-binary
django-countries
django-widget-tweaks
wagtail_grapple
django-allauth
django-comments-xtd
django-extensions
pygraphviz
django_compressor
django-libsass
wagtail-localize
wagtailfontawesome
django-dotenv
django-dbbackup
wagtail-django-recaptcha
django-autoslug
boto3
django_storages
django-channels